bson
discord.py[voice]
pymongo
asyncio
async_timeout
aiohttp
requests
pillow
psutil
youtube_dl
websockets
PYFIGLET
requests

asyncio

https://github.com/Nekos-life/nekos.py/archive/master.zip

request
